body{background-color:#6c7b95;}
h2{
  color: #f9f6f7;
}
h1{
  color: #fff3af;
}
video{
text-align: center;
margin:0 auto;
display: block;
width: 500px
}
.shreypic{border-radius: 50%}
.body{margin: 100px;
      background-image: linear-gradient(#494ca2, #e3e7f1);}
p{border-style: outset;}
