body{background-color:#6c7b95;
line-height: 2;
text-align:center; }
h2{
  color: #f9f6f7;
}
h1{
  color: #fff3af;
  font-family: 'Oswald', sans-serif;
}
video{
text-align: center;
margin:0 auto;
display: block;
width: 500px
}
.shreypic{border-radius: 50%}
.body{margin: 80px;
      background-image: linear-gradient(#494ca2, #e3e7f1);}
p{border-style: outset;
   font-family: 'Oswald', sans-serif;
   font-family: 'Open Sans Condensed', sans-serif;
}
.fonts{font-family: 'Oswald', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Amiri', serif;
}
.start{font-family: 'Pacifico', cursive;
  font-size: 70px;
  color: #035aa6;
  line-height: 2;
  }
}
